---
import { LOGO_IMAGE, SITE, PAGES } from "@config";
import Hr from "./Hr.astro";
import Nav from "./Nav.astro";

import logoSVG from "/assets/logo.svg";
export interface Props {
  activeNav?: (typeof PAGES)[number]["active"];
}
const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo sm-flex">
        <img
          src={logoSVG}
          alt="750W Logo"
          width={LOGO_IMAGE.width}
          height={LOGO_IMAGE.height}
        />
      </a>
      <a href="/" class="logo sm-flex">
        {SITE.title}
      </a>
      <Nav activeNav={activeNav} />
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent py-2 px-3 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl m-2;
  }
</style>
